#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    font-size: calc(10px + 2vmin);

    & li {
        display: inline;
    }

    & a,
    a:visited {
        text-decoration: none;
        color: #eee;
        padding: 0.9rem 1rem;
    }
}

.company {
    display: flex;
    align-items: center;
    font-family: $fontLogo;
    font-weight: 600;
}

#sidebar {
    background-color: #1d2021;
    display: block;
    margin: 10px;
    width: 20vw;
    border-radius: 15px;

    & header {
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 5px;
        padding: 10px;
        color: $foregroundTextWhite;
    }

    & a {
        display: flex;
        border-width: 1px;
        margin: 5px;
        padding: 10px;
        border-color: #5c5c5c transparent transparent;
        border-style: solid;
        color: $foregroundTextWhite;
    }

    & a:hover {
        background-color: rgb(26, 26, 26);
        transition: 0.5s;
    }
}

#section-one-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#main-offers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 100%;
}

#headline {
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
}

.main-sales {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two-offers {
    width: 80vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 30px;

    & p {
        text-align: center;
    }
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 290px;
    margin: 10px;

    & div {
        width: 75%;
        height: 200px;
        margin: 10px;
    }

    & p {
        display: inherit;
        justify-content: center;
        align-items: center;
        margin: 0 10px 10px;
        width: 75%;
        height: 30px;
    }

    & .btn {
        width: 75%;
        height: 30px;
        cursor: pointer;
        margin: 0 10px 10px;
    }
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $fontRoboto;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;

    & .fa {
        color: $buttonColor;
    }
}
