#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: calc(10px + 2vmin);
    padding: 2rem 0;

    & li {
        display: inline;
    }

    & a,
    a:visited {
        text-decoration: none;
        color: $foregroundTextWhite;
        padding: 0.9rem 1rem;
        transition: 0.3s;
    }

    & a:hover {
        color: #60b2ff;
    }
}

.company {
    display: flex;
    align-items: center;
    font-family: $fontLogo;
    font-size: 2rem;

    & .logo-container {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;

        & img {
            transform: scale(1.35);
            object-position: center;
        }
    }

    & p {
        margin-left: 15px;
    }

    & p::after {
        content: 'game on';
        margin: 5px 0 0 5px;
        display: block;
        font-size: 1rem;
        color: $golden;
    }
}

#section-one-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#banner {
    width: 30vw;
    height: auto;
    margin: 2.8rem 0 0 2rem;
}

#main-deals {
    width: 50vw;
    height: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#headline {
    color: $golden;
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
}

.main-sales {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-two-deals {
    width: 80vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 30px;
    padding: 30px;
    background: $transparentDarkBg;
    border: 1px solid $grayBorder;

    & p {
        text-align: center;
    }
}

#sidebar {
    background: $transparentDarkBg;
    display: block;
    margin: 10px;
    width: 20vw;
    border: 1px solid $grayBorder;
    border-radius: 4px;
    height: fit-content;
    padding-bottom: 5px;
    background: rgba(24, 24, 24, 0.7);
    box-shadow: 0 0 4px 1px rgb(51, 51, 51);

    & header {
        font-weight: bold;
        font-size: 1.5rem;
        display: block;
        text-align: center;
        margin: 5px;
        padding: 10px;
        color: $foregroundTextWhite;
    }

    & a {
        display: block;
        border-width: 1px;
        margin: 5px 0 -5px 0;
        padding: 10px;
        border-color: #5c5c5c transparent transparent;
        border-style: solid;
        color: $foregroundTextWhite;
        text-decoration: none;
    }

    & a:hover {
        background-color: #222;
        transition: 0.5s;
    }
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 290px;
    margin: 10px 10px 40px;
    background: linear-gradient(
        to bottom right,
        rgba(165, 165, 165, 0.2),
        rgba(48, 48, 48, 0.2),
        rgba(197, 197, 197, 0.2)
    );
    box-shadow: 0px 0px 10px #000;

    border-radius: 5px;
    border: 1px solid rgb(48, 48, 48);
    cursor: pointer;

    & div {
        width: 130px;
        height: 200px;
        margin: 10px;
    }

    & p {
        display: inherit;
        justify-content: center;
        align-items: center;
        margin: 0 10px 10px;
        width: 75%;
        height: 30px;
    }

    & .btn {
        width: 75%;
        height: 30px;
        cursor: pointer;
        margin: 0 10px 10px;
    }
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $fontRoboto;
    font-size: 1.1rem;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #bbb;
    background: rgb(0, 66, 15);
    color: $foregroundTextWhite;

    & .fa {
        color: $foregroundTextWhite;
    }
}

#scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-style: none;
    color: $golden;
    background: transparent;
}

#scroll-top:hover {
    cursor: pointer;
}

#scroll-top::after {
    content: 'scroll to top';
    align-self: center;
    display: block;
    margin: 10px;
    font-family: $fontRoboto;
    font-weight: 500;
}
