body {
    background: $patternBackground;
    font-family: $fontRoboto;
    color: $foregroundTextWhite;
    min-height: 100%;
    max-width: 100%;
}

.section-one {
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("../images/background/bg-gradient.png");
}

.section-two {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer {
    background-color: $darkBackground;
    height: 20vh;
}
