body {
    background: $patternBg, linear-gradient(black, transparent 22%);
    background-repeat: repeat, no-repeat;
    background-blend-mode: overlay;
    font-family: $fontRoboto;
    color: $foregroundTextWhite;
    min-height: 100%;
    max-width: 100%;
}

.section-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-two {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer {
    font-family: $fontRoboto;
    background-color: $transparentDarkBg;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: #ddd;
}

.newsletter {
    & #email,
    #submit-email {
        align-self: center;
        font-family: $fontRoboto;
        height: 25px;
        margin: 10px 0;
        padding: 0.5rem;
        border-style: none;
        border-radius: 3px;
        font-size: 1rem;
        height: auto;
    }

    & #email {
        width: 300px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid #005aa7;
        opacity: 0.8;
    }

    & #email:focus {
        outline: none;
        opacity: 1;
    }

    & #submit-email {
        cursor: pointer;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #005aa7;
        border: 1px solid #005aa7;
        color: #fff;
    }
}
