// Fixed size container
@media screen and (min-width: 1200px) {
    .App {
        max-width: 1360px;
        margin: auto;
    }
}

@media (max-width: 1000px) {
    // Sidebar above product grid
    .section-two {
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        margin: 0;

        & header {
            font-size: 1rem;
        }

        & a {
            font-size: 0.8rem;
            display: inline-block;
            min-width: 110px;
            margin: 5px 0 -5px;
            border: 1px solid #313131;
        }
    }

    #section-two-deals {
        width: 100%;
        margin: 20px 0;
        padding: 60px 20px;
    }
}

@media (max-width: 800px) {
    // Responsive header
    #navbar {
        font-size: 1.1rem;
        max-width: 100vw;
        flex-wrap: wrap;
    }

    .company {
        margin: 20px 0;
        font-size: 1.7rem;

        & img {
            width: 80px;
        }

        & p::after {
            font-size: 1rem;
            margin: 2px 0px 0 23px;
        }
    }

    // Section 1 Cards
    #main-deals {
        display: block;
        width: auto;
        transform: translateX(0);
    }

    // Remove 'Black Friday' image
    #banner {
        display: none;
    }

    #headline {
        width: 90vw;
        display: block;
        margin: auto;
    }

    // Section 1 Cards
    .main-sales {
        justify-content: space-between;

        & .game-card {
            width: 28vw;
            overflow: hidden;
            margin: 0;
            border: 0;

            & #gameImage {
                max-height: 200px;
                background-size: auto contain;
            }
        }
    }

    // Section 2 Cards
    #section-two-deals {
        & .game-card {
            & .btn {
                font-size: 2vh;

                & span {
                    margin-right: 0.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    #headline h1 {
        font-size: 10vw;
    }

    // Section 1 Cards
    .main-sales {
        & .game-card {
            height: auto;

            & p {
                font-size: 3.2vw;
                line-height: 1.2;
            }

            & .btn {
                font-size: 3vw;

                & span {
                    margin-right: 0.25rem;
                }
            }
        }
    }

    // Section 2 Cards
    #section-two-deals {
        padding: 5px;

        & .game-card {
            width: 40%;
            padding: 0;
            overflow: hidden;

            & #gameImage {
                background-size: auto contain;
            }
        }
    }
}

@media (max-width: 400px) {
    #navbar li a {
        font-size: 5vw;
        padding: 0.5rem;
    }

    // Section 2 Cards
    #section-two-deals {
        & .game-card {
            height: auto;
            margin-bottom: 1rem;
            border: none;
            box-shadow: none;

            & p {
                padding: 0.5rem 0;
                font-size: 0.9rem;
                line-height: 1.2;
            }

            & .btn {
                padding: 0.25rem;
                font-size: 0.9rem;

                & span {
                    display: none;
                }
            }

            & #gameImage {
                width: 80%;
                height: 110px;
            }
        }
    }
}
