$foregroundTextWhite: #eee;
$fontRoboto: "Roboto", sans-serif;
$transparentDarkBg: rgba(59, 59, 59, 0.2);
$patternBg: url("../images/background/bg-1.jpg");
$btnForegroundColor: rgb(58, 122, 58);
$fontLogo: "Oxanium", sans-serif;
$golden: rgb(255, 230, 87);
