$foregroundTextWhite: #eee;
$fontRoboto: "Roboto", sans-serif;
$darkBackground: #111111;
$patternBackground: url("../images/background/bg-1.jpg");
$buttonColor: rgb(58, 122, 58);
$fontLogo: "Oxanium", sans-serif;
$golden: #e6d00fea;
